<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Quizzy{% endblock %}</title>
    <meta name="description" content="{% block description %}Quiz progressive web app{% endblock %}"/>
    <link rel="icon" type="image/jpg" href="{{ asset('build/favicon.png') }}" />
    <link rel="canonical" href="{{ app.request.uri }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% set current_path = app.request.get('_route') %}
<header>
    <div class="header-wrapper">
        <div class="logo">
            <img src="{{ asset('build/logo-quizzy.png') }}" alt="Quizzy logo">
        </div>
        <div class="quizzy">Quizzy</div>
        {% if current_path == 'home' or current_path == 'app_register' or current_path == 'app_login' %}
            <a class="header-action" href="/login">
                <img src="{{ asset('build/log-in.svg') }}" alt="login icon">
            </a>
        {% else %}
            <a class="header-action" href="/logout">
                <img src="{{ asset('build/log-out.svg') }}" alt="logout icon">
            </a>
        {% endif %}
    </div>
</header>

<nav class="mobile-menu">
    <ul class="mobile-menu-wrapper">
        <li>
            <a href="/dashboard">
                {% if current_path == 'dashboard' %}
                    <img src="{{ asset('build/dashboard-active.svg') }}" alt="dashboard icon">
                {% else %}
                    <img src="{{ asset('build/dashboard.svg') }}" alt="dashboard icon">
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/quiz">
                {% if current_path == 'quiz' %}
                    <img src="{{ asset('build/quiz-active.svg') }}" alt="quiz icon">
                {% else %}
                    <img src="{{ asset('build/quiz.svg') }}" alt="quiz icon">
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/stats">
                {% if current_path == 'stats' %}
                    <img src="{{ asset('build/stats-active.svg') }}" alt="stats icon">
                {% else %}
                    <img src="{{ asset('build/stats.svg') }}" alt="stats icon">
                {% endif %}
            </a>
        </li>
        <li>
            <a href="/leaderboard">
                {% if current_path == 'leaderboard' %}
                    <img src="{{ asset('build/leaderboard-active.svg') }}" alt="leaderboard icon">
                {% else %}
                    <img src="{{ asset('build/leaderboard.svg') }}" alt="leaderboard icon">
                {% endif %}
            </a>
        </li>
    </ul>
</nav>
{% block body %}{% endblock %}
{% block footer %}
    <footer class="container">
    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
