{% extends 'common.html.twig' %}
{% block body %}
    <main class="container">
        <h1 class="title">Classement</h1>

        {% for key, rank in ranks %}
            {% set category = key %}
            {% if key == "overall" %}
                {% set category = "général" %}
            {% elseif key == "celebrites" %}
                {% set category = "célébrités" %}
            {% elseif key == "geographie" %}
                {% set category = "géographie" %}
            {% elseif key == "litterature" %}
                {% set category = "littérature" %}
            {% elseif key == "television" %}
                {% set category = "télévision" %}
            {% endif %}
            <h2 class="subtitle">Classement {{ category }}</h2>
            <div class="leaderboard {% if key != "overall" %}collapsable{% endif %}">
                {% for leader in rank %}
                    {% set avatar = 'build/avatar-' ~ leader.avatar ~ '.jpg' %}
                    <div class="leader">
                        <div class="rank"><span>#</span>{{ loop.index }}</div>
                        <div class="avatar">
                            <img src="{{ asset(avatar) }}" alt="user avatar">
                        </div>
                        <div class="name">{{ leader.first_name }} {{ leader.last_name }}</div>
                        <div class="score">{{ leader[key] }} <span>pts</span></div>
                    </div>
                {% endfor %}
                {% if key != "overall" %}
                    <div class="collapser">
                        <img src="{{ asset('build/collapse.svg') }}" alt="collapse icon"> <span>Show more</span>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

    </main>
{% endblock %}